.container{
    font-weight: 800;
    display: grid;
    width: 1200px;
    margin: 0 auto;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
}
.left{
    background-color: rgba(255, 0, 0, 0.623);
    display: grid;
    /* justify-content: center; */
}
.upperLeft{
    display: grid;
    justify-content: center;
    align-items: center;
}
.texts{
    display: grid;
    width: 100%;
    margin: 0 auto;  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.right{
    background-color: rgba(0, 0, 255, 0.527);
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}
p{
    /* border: 1px solid black; */
    /* font-size: 1.2rem; */
}