* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial Narrow Bold", sans-serif;
}
.twoSides {
  display: flex;
}
.left {
  padding-top: 3rem;
  padding-left: 2rem;
  background-color: rgb(36, 35, 35);
  color: white;
  width: 50vw;
  height: 100vh;
}
.right {
  background-color: rgb(255, 255, 255);
  color: black;
}
.brand {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.rightContent {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  margin-left: 10vh;
  gap: 0.001rem;
}
.contact h1 {
  margin-bottom: 1rem;
}
.contact p {
  font-size: 0.9rem;
  margin-top: 1rem;
}
.formpara {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: rgba(0, 0, 0, 0.568);
}
.CompanyWebsite {
  height: 1.5rem;
}
.email {
  height: 1.5rem;
}
button {
  margin-top: 2rem;
  color: white;
  background-color: black;
  border-radius: 60%;
  height: 2rem;
  width: 4rem;
}
.rocketPara {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.rocketImg {
  filter: invert();
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
.shieldPara {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.shieldImg {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
.coPara {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.coImg {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
.trust {
  margin-top: 12rem;
}
.comimgs {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
.comimgs img {
  height: 5rem;
  width: 8rem;
  filter: invert();
}
.stars {
  margin-top: 3rem;
}
.rightContent h1 {
  font-weight: 300;
}
