.container{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    font-size: 2rem;
    height: 50px;
    font-weight: 800;
}
.left{
    background-color: red;
    flex-grow: 1;
}
.right{
    background-color: blue;
    flex-grow: 2;
}