*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins, Poppins Fallback;
    width: 100%;
}
.navbar{
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: white;
    padding-left: 5rem;
    padding-right: 8rem;
    align-items: center;
}
#firstAnchor{
    display: flex;
    font-weight: 800;
    font-size: 1.3rem;
}
.bars{
    margin-top: 0.2rem;
}
#x{
    color: red;
}
.leftBar{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}
#profileLogo{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: blue;
    color: white;
}
#search{
    box-sizing: border-box;
    height: 2rem;
    padding: 0.5rem;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.158);
    border-radius: 5%;
    margin-right: 1rem;
}
.mainBody{
    padding-top: 6rem;
    display: flex;    
    background-color: rgba(245, 222, 179, 0.13);
    box-sizing:border-box;
    height: 91vh;
    padding-left: 8rem;
    justify-content: space-between;
    padding-right: 8rem;
}
.leftSide{
    margin-top: 5rem;
}
.joinBtn{
    border: 1px dotted black;
    width: 17rem;
    border-radius: 1rem;
    height: 1rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.greenDot{
    background-color: rgb(26, 209, 50);
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
}
.master{
    margin-top: 1rem;
    color: rgb(2, 2, 167);
    width: 35rem;
    font-weight: 800;
    font-size: 3.8rem;
}
.leftPara{
    width: 39rem;
    color: rgba(0, 0, 0, 0.562);
    font-size: 1.2rem;
}
.rightSide img{
   height: 85%;
}
.btns{
    margin-left: 0.5rem;
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}
.LearnBtn{
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    border: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.178);
}
.courseBtn{
    height: 3rem;
    background-color: rgba(7, 7, 116, 0.877);
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    border: none;
}